            <!--コメント機能の部分テンプレート-->

<% book.book_comments.each do |book_comment| %>
  <p><%= image_tag book_comment.user.get_profile_image %></p>
  <%= book_comment.user.name %>
  <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
  <% if book_comment.user == current_user %>
    <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete,class: "btn btn-sm btn-danger", remote: true %>
  <% end %>
<% end %>
<div>
  <%= form_with model: [book, new_book_comment], local: false do |f| %>
    <%= f.text_area :comment, size:'80x5'  %><br>
    <%= f.submit "送信" %>
  <% end %>
</div>