<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info',user: @book.user %>
      <h2 class="mt-3">New book</h2>

      <%= render 'books/form', book: Book.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>


          <!--いいね機能の部分テンプレートの呼び出し-->
          <td id="favorite-btn_<%= @book.id %>">
            <%= render 'favorites/favorite-btn',book:@book %>
          </td>
                  <!--コメント機能-->
            <td>コメント件数：<%= @book.book_comments.count %></td>
                  <!--バリデーションエラー表示-->
          <%= render 'layouts/errors', obj: @book_comment %>

<!--ーーーーーーーーーーーーーーーーーーーーーここから星レビュー機能の追加ーーーーーーーーーーーーーーーーーーーーーーーーーー-->
          <td>
            評価<span id = "star"><%= @book.star %></span>
          </td>
            <script>
              // scriptファイルをどのidの部分に配置するかを指定
              let elem = document.getElementById('star');
              let opt = {
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                scoreName: 'book[star]',
                score    : <%= @book.star.nil? ? 0 : @book.star %>,
                half: false,
               };
              raty(elem,opt);
            </script>
<!--ーーーーーーーーーーーーーーーーーーーーここまで星レビュー機能の追加ーーーーーーーーーーーーーーーーーーーーーーーーーーー-->

          <!--もし、本の投稿をしたユーザーと現在ログインしているユーザーが一致していたら-->
          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>

      <!--コメント機能の部分テンプレートを挿入したい-->
      <div class = "book-comments-comment">
        <%= render 'book_comments/comment',book:@book, new_book_comment:@book_comment %>
      </div>
    </div>
  </div>
</div>